:root {
  --primary-color: #cecbfd;
  --primary-color-dark: rgb(76 63 181);
  --sat-primary-color: #bb86fc;
  --primary-color-light: #f1f0ff;
  --primary-color-transparent: rgba(205, 183, 255, 0.315);
  --md-grey: rgb(202, 202, 202);
  --light-grey: rgba(223, 222, 222, 0.616);
  --white-light-grey: rgba(255, 255, 255, 0.788);
  --dark-grey: rgb(90, 90, 90);
  --xdark-grey: #333;
  --crimson-red: rgb(255, 77, 77);
  --blue: #495ed1;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--primary-color-light);
  font-family: poppins;
  font-size: 62.5%;
  overflow-x: hidden;
}

sub {
  font-size: 0.75rem;
  color: rgb(88, 85, 85);
}

svg {
  font-size: 1rem !important;
  cursor: pointer;
}

ul {
  list-style: none;
}

p {
  font-size: 1rem;
  letter-spacing: 0.0125em;
}

span {
  font-size: 1rem;
}

button {
  cursor: pointer;
  border: none;
}

.col-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.row-flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.grid-ctr-1 {
  display: grid;
  place-items: center;
}

.grid-resp-col {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}

.box-shd {
  box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);
}

.container {
  min-height: 40vh;
  display: flex;
  flex-wrap: wrap;
  background: var(--primary-color);
  border-radius: 0 2rem;
  margin: 5rem;
  padding: 2rem 0.25rem;
}

.container-title {
  margin: 1vh 0;
  min-height: 8vh;
}

.demo {
  width: 100%;
}

/* texts */

.h3 {
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: 0.0125em;
}

.h5 {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.0125em;
}

.colored-txt {
  color: var(--sat-primary-color);
}

.wt-text {
  color: white;
}

.up-case {
  text-transform: uppercase
}

/* Media Queries */

@media screen and (max-width: 625px) {
  .container {
    margin: 0.25rem;
  }

  .grid-resp-col {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  }
}
