.badge-wrapper {
  position: relative;
  line-height: 1rem;
}

.badge {
  background: var(--crimson-red);
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  position: absolute;
  bottom: 45%;
  left: 95%;
  font-size: smaller;
}

.lg-txt-badge {
  height: 4rem;
  width: 4rem;
  background: var(--blue);
}

.badge-demos p {
  width: 90%;
  margin: 1rem;
  align-self: center;
  justify-self: center;
  word-break: break-all;
}

.btn-badge {
  background: var(--primary-color-dark);
  padding: 1rem 1.5rem;
  border-radius: 1rem;
}

.btn-badge .badge {
  bottom: 75%;
}

.icon-badge {
  background: initial;
}

span.lft-badge {
  left: -20%;
}
