.header-demo {
  margin: 2rem;
}

.header-wrapper {
  background: white;
  width: 45rem;
  height: 15rem;
  overflow-x: scroll;
}

.header-title span {
  padding-left: 1rem;
}

.header-nav {
  background: var(--primary-color-dark);
  justify-content: space-between;
  padding: 1rem;
}

.header-nav li {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.header-nav li:hover {
  background: var(--primary-color-transparent);
}

.text-content {
  padding: 1.5rem;
}

.header-menu .active {
    color: white;
}

/* sticky header */
.sticky-header {
  position: sticky;
  top: 0%;
}

/* media queries */
@media screen and (max-width: 560px) {
  .header-wrapper {
    width: 32rem;
  }
}

@media screen and (max-width: 290px) {
  .header-wrapper {
    width: 20rem;
  }
}
