.snackbar-wrapper {
  background: var(--xdark-grey);
  width: 40rem;
  min-width: fit-content;
  padding: 1rem;
  border-radius: 0.4rem;
  justify-content: space-around;
}

.snackbar-btn {
  background: transparent;
  padding: 1rem;
  border-radius: 0.4rem;
}

.snackbar-btn:hover {
  background-color: var(--dark-grey);
}

.rd-bdr {
  padding: 1rem;
  border-radius: 50%;
}

/* Media Queries */

@media screen and (max-width: 450px) {
  .snackbar-wrapper {
    width: 20rem;
  }
}

@media screen and (max-width: 250px) {
  .snackbar-wrapper {
    width: 8rem;
  }
}
